<!-- Page Title-->
<h2 class="display-4-selection text-center mb-5 mt-4">Votre panier</h2>

<div class="container">
  <div class="row justify-content-center mb-3">
    <!-- Items list -->
    <div class="col-lg-6">
      <% @items.each do |item| %>
        <div class="row">
          <div class="card card-cart mb-3 align-items-center">
            <div class="row align-items-center">
              <div class="col-lg-4">
                <a href="<%= item_path(item.id) %>">
                  <div class="cart-card-cat-img" style="background-image:url(<%= item.image_url %>)"></div>
                </a>
              </div>
              <div class="col-lg-8">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-5">
                      <h5 class="card-title text-nowrap"><%= item.title %></h5>
                      <small class="text-muted">Chat..pardeur</small>
                    </div>
                    <div class="col-5">
                      <p class="h3 text-right text-nowrap my-0"><%= item.price %>€</p>
                    </div>
                    <div class="col-2">
                      <a href="<%= shopping_session_path(item.id) %>" data-method="DELETE"><i class="fas fa-times" style="color:red"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Cart total amount -->
    <div class="col-lg-4">
      <h2 class="text-center mb-5 mt-3">Total de votre panier (<%= @items_count %>)</h2>

      <div class="ml-5">
        <p class="mb-3"><i class="fas fa-check mr-3"></i>Aucun frais de ports</p>
        <p class="mb-3"><i class="fas fa-check mr-3"></i>Envoi instantané par email</p>
        <p class="mb-3"><i class="fas fa-check mr-3"></i>Satisfait mais pas remboursé</p>
      </div>
      <!-- Divider -->
      <hr class="mt-5"/>

      <!-- Shipping price-->
      <div class="row">
        <div class="col text-left"><p class="font-weight-bold">Livraison</p></div>
        <div class="col text-right">Gratuite</div>
      </div>

      <!-- Total Products Price -->
      <div class="row">
        <div class="col text-left"><p class="font-weight-bold">Sous-total</p></div>
        <div class="col text-right"><%= @cart_price %>€</div>
      </div>

      <!-- Create order Button -->
      <div class="row justify-content-center">
        <a href="#" class="btn btn-primary" type="submit">Passer commande</a>
      </div>
    </div>
  </div>
</div>
